* {
  font-family: 'Lucida Grande' sans-serif;
  font-weight: normal;
  color: 	#696969;
}
span.light {
  color: #D3D3D3;
}
.header {
  display: flex;
height: 64px;
align-items: center;
width: 100%;
}
.header img {
  height: 32px;
  padding-left: 24px;
}
ul {
  list-style-type: none;
  display: inline;
  margin-right: 24px;
  margin-left: 600px;
}
li {
  display: inline;
  padding-right: 16px;
  float: right;
}
.top {
  background-color: #D3D3D3;
  display: flex;
  width: 100%;
}
.top img {
  width: 60%;
  height: 60%;
  padding: 32px 24px;
}
.text {
  padding-top: 100px;
  padding-bottom: 60px;
  vertical-align: middle;
}
.start {
  background-color: hsl(0, 0%, 35%);
  width: 70%;
}
.text h3 {
  font-size: 60px;
  font-weight: bold;
}
.text h4 {
  font-size: 30px;
  font-weight: bold;
}
.start h4 {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: white;
  font-weight: normal;
}

.information {
  display: flex;
  width: 100%;
  padding: 32px 24px;
}
.left {
  width: 60%;
}
.left img {
width: 100%;
}
.right {
  width: 40%;
}
.right img {
  width: 35%;
  height: 80%;
  padding: 16px;
}
.right h2 {
  font-weight: bold;
}


.right h4 {
  color: #98AFC7;
}
.left h2 {
  font-size: 40px;
  font-weight: bold;
}
.left h3 {
  font-size: 24px;
}
.info {
  padding-left: 24px;
  display: flex;
  border-color: #D3D3D3;
  border-style: solid;
  border-width: 1px;
  height: 33%;
}
.text2 {
  width: 65%:
  padding: 0;
  padding-top: 30px;
  vertical-align: top;
}
.infoc {
  background-color: #D3D3D3;
}
.info2 {
  padding-left: 24px;
  display: flex;
  border-color: #D3D3D3;
  border-style: solid;
  border-width: thin;
  height: 33%;
  background-color: #D3D3D3;
}

.courseblocks {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 72px;
}
.courseblocks img {
  height: auto;
  width: 100%;

}
.specific {
  width: 30%;
  background-color: white;
  margin-right: 32px;
  margin-bottom: 32px;
}
.courses {
  background-color: #D3D3D3;
  width: 100%;
}
.learning h2 {
  text-align: center;
  padding-top: 32px;
  font-size: 40px;
  font-weight: bold;
}
.specifictext {
  margin: 16px 16px 32px 16px;
}
.specifictext h3 {
  margin: 8px 0px;
}
.specifictext h2 {
  font-weight: bold;
}
.thesistitle h2 {
  text-align: center;
  padding-top: 32px;
  font-size: 40px;
  font-weight: bold;
}
.thesisbody {
  display: flex;
  width: 100%;
  padding: 32px 2px 32px 24px;
  height: 100%;
  border-bottom-color: grey;
  border-bottom-style: solid;
  border-bottom-width: thin;
}
.leftthesis {
  width: 60%;
}
.leftthesis video {
  width: 100%;
}
.leftthesis h2 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: bold;
}
.rightthesis {
  padding-left: 24px;
  height: 60%;
}
.detail {
  display: flex;
  height: 30%;
}
.detail1 {
  display: flex;
  height: 40%;
  background-color: #D3D3D3;
}
.detail img {
  margin: 16px;
  width: 35%;
  height: auto;
}
.detail1 img {
  margin: 16px;
  width: 35%;
  height: auto;
}
.detailtext {
margin-top: 60px;
}
.detailtext h2 {
  font-weight: bold;
}
.footer {
  padding: 16px 0px 0px 24px;
}
@media only screen and (min-width: 481px) {
 .mobile {
    display: none;
  }
  .mobilecourse {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .header h2 {
    display: none;
  }
  .header ul {
    display: none;
  }
  .mobile {
    align-content: space-around;
  }
  .mobile img {
    right-margin: 4px
    align-content: space-between;
  }
  .top img {
    width: 100%;
    height: 40%;
    padding: 0;
  }
  .top {
    display: block;
    padding: 0;
    margin: 0;
  }
.text {
  padding-top: 32px;
  padding-left: 16px;
}
.left {
  display: none;
}
.right {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}
.right img {
  width: 100%;
  height: 50%;
  padding: 0;
  margin: 0;
}
.info {
  display: block;
  padding-left: 0px;
  border-style: none;
}
.text2 {
  width: 65%;
  padding-left: 32px;
  padding-top: 30px;
  vertical-align: top;
}
.info2 {
  display: block;
  padding-left: 0px;
  margin-left: 0;
  border-style: none;
  height: 33%;
}
.courseblocks {
  display: none;
}
.courses {
  background-color: white;
}
.list {
  padding-top: 16px;
  padding-bottom: 24px;
  text-align: center;
  background-color: #D3D3D3;
  margin-bottom: 8px;
}
.list h3 {
  font-size: 24px;
  font-weight: bold;
}
.leftthesis {
  width: 100%;
}
.leftthesis h2{
  display: none;
}
.leftthesis h3 {
  display: none;
}
.rightthesis {
  display: none;
}
.footer ul {
  display: none;
}
.footer {
  padding: 40px 0px 16px 16px;
}
}
